.footer {
	height: 250px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #edf3f6;
	padding: 30px;
	margin: 10px;
}
<<<<<<< HEAD
=======

.footer h3 {
	font-weight: 400;
}
>>>>>>> e24baea57d7e0a742861484b136a5617bd84fb8d
