.post_detail {
	margin: 1em 0 2em 0;
	padding-bottom: 2em;
	text-align: center;
	border-radius: 30px;

	box-shadow: 5px 5px 5px rgb(216, 215, 215);
}

.post_detail img {
	max-width: 600px;
	margin: 0 auto;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.post_detail div {
	margin: 20px;
}

.post_detail p {
	text-align: left;
}

.post_detail h2 {
	margin-bottom: .4em;
	text-align: left;
}
.post_detail .tags {
	margin-bottom: 1.2em;
	display: flex;
}

.tags p {
	margin-right: .5em;
}

.tags span {
	font-weight: bold;
}

.createdBy {
	font-style: italic;
	color: #444;
	font-size: .8em;
	margin-bottom: 1em;
}
